@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------- Обнулення стилів -----------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html, body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    line-height: 1;
}

/*.wrapper {*/
/*    min-height: 100%;*/
/*    overflow: hidden;*/
/*}*/

/*----------------- GLOBAL -----------------*/

body {
    color: #222222;
    background: #FAF4F2;
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 125px;
}

.title {
    font-size: 40px;
    font-weight: 600;
}

.w-1440 {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/*-------------------- BIO -----------------------*/

.bio {
    display: flex;
    justify-content: space-between;
    padding: 100px 16px 0 22px;
    flex-wrap: wrap;
}

.bio__title {
    width: 475px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 12px;
    line-height: 62px;
}

.bio__description {
    width: 509px;
    font-size: 18px;
    margin-bottom: 54px;
    line-height: 30px;
}

.bio__socials {
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.bio__buttons {
    display: flex;
    gap: 30px;
}

.bio__button {
    padding: 14px 13px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.5s;
}

.bio__button:first-child {
    background: #FF2950;
    color: #F9F9F9;
}

.bio__button:last-child {
    background: #F9F9F9;
    color: rgba(34, 34, 34, 0.50);
    border: 2px solid #FF9B70;
}

.bio__button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
}

.bio__portrait {
    padding-right: 16px;
}

/*-------------------- ACHIEVEMENTS -----------------------*/

.achievements {
    display: flex;
    /*flex-wrap: wrap;*/
    color: #F9F9F9;;
    background-color: #FF7315;
    border-radius: 35px;
    padding: 60px 80px 32px 0;
}

.achievements h2 {
    margin-bottom: 10px;
}

.achievements h2:first-child {
    font-size: 72px;
}

.achievements p {
    line-height: 45px;
    font-size: 24px;
    max-width: 570px;
}

.achievements img {
    width: 430px;
    height: 100%;
}

/*-------------------- SKILLS -----------------------*/

.skills {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px 0 22px;
}

.skills h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.skills__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    text-align: center;
}

.skills__card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2222221A;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    margin-bottom: 60px;
}

.skills__card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.skills__card-text {
    font-size: 18px;
    line-height: 30px;
    color: rgba(34, 34, 34, 0.50)
}

/*-------------------- PORTFOLIO -----------------------*/

.portfolio h2 {
    margin-bottom: 70px;
}

.portfolio div {
    padding: 0 81px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/*-------------------- FEEDBACK -----------------------*/

.feedback {
    background-color: #FF7315;
}

.feedback h2 {
    margin-bottom: 120px;

}


footer {
    background: #F1F1F1;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 64px 0 79px 0;
}



