@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------- NULL STYLE -----------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html, body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/*----------------- GLOBAL -----------------*/

body {
    color: #222222;
    background: #FAF4F2;
    font-family: 'Poppins', sans-serif;
}

section {
    margin: 0 auto 125px;
}

section:not(.feedback) {
    max-width: 1140px;
}

.title {
    font-size: 48px;
    font-weight: 600;
}

button {
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    scale: 1.05;
    transform-origin: center;
    transition: 0.5s;
}

.transition {
    transition: 1s;
}

/*-------------------- BIO -----------------------*/

.bio {
    display: flex;
    justify-content: space-between;
    padding: 100px 16px 0 22px;
    flex-wrap: wrap;
}

.bio__title {
    width: 475px;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 12px;
    line-height: 62px;
}

.bio__description {
    width: 509px;
    font-size: 18px;
    margin-bottom: 54px;
    line-height: 30px;
}

.bio__socials {
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.bio__buttons {
    display: flex;
    gap: 30px;
}

.bio__button {
    padding: 14px 13px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
}

.bio__button:first-child {
    background: #FF2950;
    color: #F9F9F9;
}

.bio__button:last-child {
    background: #F9F9F9;
    color: rgba(34, 34, 34, 0.50);
    border: 2px solid #FF9B70;
}

.bio__portrait {
    padding-right: 16px;
}

/*-------------------- ACHIEVEMENTS -----------------------*/

.achievements {
    display: flex;
    color: #F9F9F9;;
    background-color: #FF7315;
    border-radius: 35px;
    padding: 60px 80px 32px 0;
}

.achievements h2 {
    margin-bottom: 10px;
}

.achievements h2:first-child {
    font-size: 72px;
}

.achievements p {
    line-height: 45px;
    font-size: 24px;
    max-width: 570px;
}

.achievements img {
    width: 430px;
    height: 100%;
}

/*-------------------- SKILLS -----------------------*/

.skills {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px 0 22px;
}

.skills h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.skills__cards {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skills__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    text-align: center;
}

.skills__card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2222221A;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    margin-bottom: 60px;
}

.skills__card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.skills__card-text {
    font-size: 18px;
    line-height: 30px;
    color: rgba(34, 34, 34, 0.50)
}

/*-------------------- PORTFOLIO -----------------------*/

.portfolio h2 {
    margin-bottom: 70px;
}

.portfolio__cards {
    padding: 0 81px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.portfolio__card:hover {
    cursor: pointer;
    scale: 1.1;
    transform-origin: center;
    transition: 0.5s;
}

/*-------------------- FEEDBACK -----------------------*/

.feedback {
    padding: 50px 0 185px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FF7315;
}

.feedback h2 {
    text-align: center;
    line-height: 60px;
    color: #F9F9F9;
    width: 609px;
    margin-bottom: 120px;
}

.feedback__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
}

.feedback__card {
    font-size: 24px;
    line-height: normal;
    width: 529px;
    border-radius: 30px;
    background: #F9F9F9;
    padding: 24px 55px 11px;
}

/*-------------------- PRICE PLANS -----------------------*/

.price h2 {
    margin-bottom: 64px;
}

.price__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 67px;
}

.price__card {
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 20px 40px 0 rgba(255, 115, 21, 0.10);
    padding-bottom: 10px;
}

.price__card:hover {
    cursor: pointer;
    scale: 1.05;
    transform-origin: center;
    transition: 0.5s;
}

.price__card-title {
    width: 100%;
    padding: 18px 0;
    text-align: center;
    border-radius: 15px 15px 0 0;
    font-size: 24px;
    font-weight: 600;
    color: #F9F9F9;
    background-color: #FF9B70;
}

.price__card-payment {
    display: flex;
    align-items: center;
    color: rgba(34, 34, 34, 0.50);
    font-size: 15px;
    line-height: 24px;
    margin: 36px 0 24px;
}

.price__card-payment span {
    color: #2B2B2B;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%;
    margin-right: 12px;
}


.price__card-included:before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-image: url("./img/check.png");
}

.price__card-excluded:before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 24' fill='none'%3E%3Cg clip-path='url(%23clip0_5036_140)'%3E%3Cpath d='M12.4426 10.586L17.5752 5.63599L19.0413 7.04999L13.9088 12L19.0413 16.95L17.5752 18.364L12.4426 13.414L7.31003 18.364L5.84387 16.95L10.9765 12L5.84387 7.04999L7.31003 5.63599L12.4426 10.586Z' fill='%2322222280'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5036_140'%3E%3Crect width='24.8852' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.price__card-included {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
}

.price__card-excluded {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    color: rgba(34, 34, 34, 0.50)
}


/*-------------------- CONTACT -----------------------*/

.contact {
    padding: 50px 100px 50px 75px;
    border-radius: 25px;
    background: #FF7315;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__title {
    color: #F9F9F9;
    width: 343px;
    font-size: 36px;
    font-weight: 600;
    line-height: 62px;
}

.contact__button {
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    padding: 17px 74px;
}

/*-------------------- BLOG -----------------------*/

.blog h2 {
    margin-bottom: 50px;
}

.blog__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.blog__card {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 60px 15px;
    border-radius: 15px;
    background: #F9F9F9;
    width: 270px;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
    text-transform: capitalize;
    transition: 1s;
}

.blog__card:hover {
    transform: scale(1.1);
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
    cursor: pointer;
    transition: 1s;
}

.blog__card img {
    border-radius: 15px;
    margin-bottom: 24px;
}

.blog__card-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.blog__card-text {
    color: rgba(34, 34, 34, 0.50);
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
}

/*-------------------- FOOTER -----------------------*/


footer {
    background: #F1F1F1;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 64px 0 79px 0;
}


